.image{
    height: 250px;
    background-image: url("/assets/backgroundimage.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */ 
    background-attachment: scroll;
    background-position-y: 20%;
    box-shadow: 0 10px 0 0 black;
}
  
  
.logo {
    width: 190px;
    margin:  0% 4% 10%;
    padding: 2% 0 0 0;
    position:static
   }
  
 