.image{
    height: 240px;
    background-image: url("/assets/backgroundimage.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* version standardisée */ 
    background-attachment: scroll;
    background-position-y: 20%;
    box-shadow: 0px 4px 6px lightgray;
}
    
.logo {
  width: 160px;
  margin-left: 100px;

 }

 

 
  
 