<div class="container">
    <div>
        <ul class="list-group list-group-horinzontal-lg" *ngFor="let bikeride of bikerides">
            <li class="list-group-item d-flex justify-content-between align-items-md-baseline align-items-left">
                <span class="list-title">{{ bikeride.date | date: 'dd/MM/yyyy'}}</span>
                <span class="list-title">{{ bikeride.title }}</span>
                <span class="list-title">{{ bikeride.city }}</span>
                <span class="list-title">{{ bikeride.time }}</span>
                <span class="list-title">{{ bikeride.numberKm }}</span>
                <div class="btn btn-list">
                    <div class="btn btn-list">
                        <button [routerLink]="['/balade',bikeride.id]" class="btn btn1 btnorange btn-sm"><span class="btnnoir">Plus d'inf</span><span class="btnorange">O</span><span class="btnnoir">s</span>
                           </button>
                      </div>
                      <div class="btn-list">
                           <button [routerLink]="'/'" class="btn btn1 btnred btn-sm"><span class="btnnoir">J'annule cette sOrtie'</span></button>
                      </div>
                </div>
            </li>
        </ul> 
    </div>