<div class="container">
    <h2>Nous contacter</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="name">Prénom & Nom</label>
            <input type="text" name="name" formControlName="name" class="form-control">
        </div>

        <div class="form-group">
            <label for="email">Adresse email</label>
            <input type="email" name="email" formControlName="email" class="form-control">
        </div>

        <div class="form-group">
            <label for="content">Question, remarques, idées</label>
            <input type="text" name="content" formControlName="content" class="form-control">
        </div>

        <div class="btn">
            <div class="btn">
                <button class="btn btn1 btnred"><span class="btnnoir">Ret</span><span class="btnred">O</span><span
                        class="btnnoir">ur</span>
                </button>
            </div>
            <div class="btn">
                <button class="btn btn1 btnvert"><span class="btnvert">O</span><span class="btnnoir">k g</span><span
                        class="btnvert">O </span><span class="btnnoir"> Wel</span><span class="btnvert">O</span><span
                        class="btnnoir"> !</span>
                </button>
            </div>
        </div>

    </form>
</div>