
label {
    color: black;
    font-size: medium;
}

.avatar {
    background: white;
    border-radius: 50%;
    border-color: 2px solid black ;    
}

.form-group {
    display: inline
}

.btnaddstyle{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    font-size: 24px;
    border-radius: 50%;
    border-color: 2px solid black ;  
}