.grid-container {
    margin: 30px 20px 20px 20px;
    
  }
    
label {
    color: black;
    font-size: medium;
}

.entite {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 10 0 10;
    padding: 0  10 0;
    justify-content: space-around;
    align-items: stretch;
    
}

.form-group {
    margin: 15px 5 5 5;
    
}

.btnaddstyle{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    font-size: 24px;
    border-radius: 50%;
    border-color: 2px solid black ;  
}