p {
    text-align: justify;
}

h2 {
    text-align: center;
}

h3{
    text-decoration: underline;
    text-decoration-color: black;
    font-weight: 500;
}

a {
    font-weight: 600;
}

.grid-container {
    margin: 3% 6% 6%;
}

.presentation {
    display: flex;
    flex-wrap: wrap;
}

.titre {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.mark {
    color: black;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.19);
}

.column {
    display: flex;
    justify-content: space-between;
}

.pres {
    margin: 30px;
}

.message {
    width: 100%;
    margin: 30px;
}

.team {
    display: flex;
    align-content: space-between;
    margin-top: 3%;
}

.welos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.welos > img {
    width: 50%;
}

.contact {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.message-link {
    background-color: rgb(240, 252, 229);
}
.message-link >p {
    text-align: center;
    padding-top: 10px;
}

@media screen and (max-width: 994px) {

    .grid-container {
        margin: 1%;
    }

    .column {
        flex-direction: column;
    }

    .pres {
        margin-top: 5px;
    }

    .message {
        margin: 5px;
    }

    .team {
        flex-direction: column;
    }

    .welos {
        width: 100%;
    }

    .welos > img {
        width: 20%;
    }
  }