<div>
    <app-header></app-header>
</div>
<div class="grid-container">

    <div class="presentation">

        <div class="titre">
            <h2>Hello les Welos !</h2>
        </div>

        <div class="column">
            <div class="pres">
                <h3>Hello Welo, qu'est-ce que c'est ? </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quod, molestiae reprehenderit fugit
                    consectetur deserunt molestias voluptas natus architecto distinctio pariatur doloremque, placeat
                    blanditiis aspernatur consequatur, voluptates ullam eius nesciunt!
                </p>
            </div>

            <div class="pres">
                <h3>Comment devenir un Welo ?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quod, molestiae reprehenderit fugit
                    consectetur deserunt molestias voluptas natus architecto distinctio pariatur doloremque, placeat
                    blanditiis aspernatur consequatur, voluptates ullam eius nesciunt!
                </p>
            </div>
        </div>

        <div class="message">
            <p>Besoin d’aide ? Besoin de nous causez météo ou de votre prochaine balade ? C’est <a
                    href="contact/#contact-formulaire"> ici</a> !</p>
        </div>

    </div>

    <h2>L'équipe</h2>
    <div class="team">

        <div class="col-sm-3 welos">
            <img src="assets/bike1.png" alt="bycicle" width="50%">
            <h3>Maria</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, porro. Necessitatibus beatae,
                labore architecto ab eligendi error tempora rerum minima, ipsum incidunt velit, corporis ea earum
                eos non placeat sit!</p>
        </div>

        <div class="col-sm-3 welos">
            <img src="assets/bike2.png" alt="bycicle" width="50%">
            <h3>Terry</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, porro. Necessitatibus beatae,
                labore architecto ab eligendi error tempora rerum minima, ipsum incidunt velit, corporis ea earum
                eos non placeat sit!</p>
        </div>

        <div class="col-sm-3 welos">
            <img src="assets/bike3.png" alt="bycicle" width="50%">
            <h3>Amandine</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, porro. Necessitatibus beatae,
                labore architecto ab eligendi error tempora rerum minima, ipsum incidunt velit, corporis ea earum
                eos non placeat sit!</p>
        </div>

        <div class="col-sm-3 welos">
            <img src="assets/bike4.png" alt="bycicle" width="50%">
            <h3>Lucie</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, porro. Necessitatibus beatae,
                labore architecto ab eligendi error tempora rerum minima, ipsum incidunt velit, corporis ea earum
                eos non placeat sit!</p>
        </div>

    </div>

    <div class="contact" id="contact-formulaire">
        <div class="col-sm-6">
            <app-contact-form></app-contact-form>
        </div>
    </div>
</div>