<div>
    <app-header></app-header>
</div>
<div class="container">

    <div class="presentation">

        <div class="titre">
            <h2>Hello les Welos !</h2>
        </div>

        <div class="column">
            <div class="pres">
                <h3>Hello Welo, qu'est-ce que c'est ? </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quod, molestiae reprehenderit fugit
                    consectetur deserunt molestias voluptas natus architecto distinctio pariatur doloremque, placeat
                    blanditiis aspernatur consequatur, voluptates ullam eius nesciunt!
                </p>
            </div>

            <div class="pres">
                <h3>Comment devenir un Welo ?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quod, molestiae reprehenderit fugit
                    consectetur deserunt molestias voluptas natus architecto distinctio pariatur doloremque, placeat
                    blanditiis aspernatur consequatur, voluptates ullam eius nesciunt!
                </p>
            </div>
        </div>

        <div class="message">
            <p>Besoin d’aide ? Besoin de nous causez météo ou de votre prochaine balade ? C’est ici !</p>
        </div>

    </div>

    <div class="contact">
        <app-contact-form></app-contact-form>
    </div>
</div>