<div>
    <app-header></app-header>
</div>
<div class="grid-container">

    <div class="presentation">

        <div class="titre">
            <mark class="mark">Hello les Welos !</mark>
        </div>

        <div class="column">
            <div class="pres">
                <h3>Hello Welo, qu'est-ce que c'est ? </h3>
                <p>HelloWelo c’est tout d’abord une envie. Une envie de partager le bonheur et la liberté que procurent les balades en vélo. 
                    Tout est parti d’une rencontre de quatre personnes réunies autour…du code informatique ! 
                    De fil en aiguille, certains points communs ont émergé. Les rencontres, le partage et surtout 
                    cette irrésistible envie de bouger ! Entre trail, quidditch et vélo, il n’y avait plus qu’à choisir par où nous allions commencer !  
                </p>
            </div>

            <div class="pres">
                <h3>Comment devenir un Welo ?</h3>
                <p>C’est si simple ! En quelques clics, tu peux rejoindre la communauté des Welos ! 
                    Inscris-toi via le formulaire que tu trouveras en cliquant sur "connexion" puis crées-toi 
                    un compte. Rejoins une balade existante, proposée par un autre welo ou deviens-toi même 
                    initiateur de rencontre en proposant une balade. Envie de devenir partenaire ou sponsor ? 
                    Simple ! Le formulaire de contact se trouve juste en dessous ! Aussi simple que de faire du vélo, non ?
                </p>
            </div>
        </div>

        <div class="message message-link">
            <p>Besoin d’aide ? Besoin de nous causez météo ou de votre prochaine balade ? C’est <a
                    href="contact/#contact-formulaire"> ici</a> !</p>
        </div>

    </div>

    <h2>L'équipe</h2>
    <div class="team">

        <div class="col-lg-3 col-sm-12 welos">
            <img src="assets/bike1.png" alt="bycicle">
            <h3>Maria</h3>
            <p>Maria, c’est tout d’abord une fondue de cyclo-tourisme ! Grande passionnée de vélo et de voyage, 
                elle a déjà quelques kilomètres dans les jambes et nous fait le récit de ses épopées à travers 
                un blog qu’elle écrit le plus souvent possible. </p>
        </div>

        <div class="col-lg-3 col-sm-12 welos">
            <img src="assets/bike2.png" alt="bycicle">
            <h3>Terry</h3>
            <p>Petit explorateur dans l’âme à la recherche de grandes sensations et d’horizon, le vélo a toujours été pour lui une forme d’évasion</p>
        </div>

        <div class="col-lg-3 col-sm-12 welos">
            <img src="assets/bike3.png" alt="bycicle">
            <h3>Amandine</h3>
            <p>Amandine flirte entre exploration urbaine et découverte hors des sentiers battus ! 
                Le vélo pour elle ? Un moyen de locomotion autant que possible au quotidien et 
                un de ses alliés dans la découverte d’une nouvelle ville et ses environs, alliant ainsi ville et nature.</p>
        </div>

        <div class="col-lg-3 col-sm-12 welos">
            <img src="assets/bike4.png" alt="bycicle">
            <h3>Lucie</h3>
            <p>Le souvenir de longues balades à Belle-île quand j'étais enfant, 
                le début de l'émancipation et mes premiers sentiments de liberté à l'adolescence ! 
                Ce n'est pas qu'un moyen de locomotion, c'est aussi un peu ma madeleine de Proust</p>
        </div>

    </div>

    <div class="contact" id="contact-formulaire">
        <div class="col-lg-6 col-sm-10">
            <app-contact-form></app-contact-form>
        </div>
    </div>
</div>