p {
    text-align: justify;
}

.grid-container {
    margin: 3% 6% 6%;
}

.presentation {
    display: flex;
    flex-wrap: wrap;
}

.titre {
    width: 100%;
    text-align: center;
}

.column {
    display: flex;
    justify-content: space-between;
}

.pres {
    margin: 30px;
}

.message {
    width: 100%;
    margin: 30px;
}

.end {
    display: flex;
    justify-content: column;
}

.team {
    display: flex;
    align-content: space-between;
}

.welos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}