<div class="container" *ngIf="isLoadingResults">
    <div *ngIf="isLoadingResults">
        <div  class="columns">
            <div class="illustration"><img class="round-style" src="../../../assets/img/decouverte.jpg" alt=""></div>
            <!--remplacer src par {{ rideType.photoUrl}} ? -->
            <div class="column">
                <div>            
                    <h1>{{ bikeride.title }}</h1>
                    <span class="coltext">Proposé par: </span><span><-- --></span>     
                    <h2>Ville : {{ cityName }}</h2>     
                </div>
                <div>
                    <div class="datetime">
                        <div class="column">
                            <span class="coltext">Date prévue: </span><span>{{ bikeride.date | date: 'dd/MM/yyyy'}}</span>          
                        </div>
                        <div class="column">
                            <span class="coltext">Heure de départ: </span><span>{{ bikeride.time }}</span>         
                        </div>
                    </div>
                    <div class="datetime">
                        <div class="column">
                            <span class="coltext">Nombre de km prévu: </span><span>{{ bikeride.numberKm }}</span>         
                        </div>
                        <div class="column">
                            <span class="coltext">Nombre de participants: </span><span>{{ bikeride.numberParticipants }} / {{ bikeride.numberMaxParticipants }}</span>         
                        </div>
                </div>

                </div>
            </div>
        </div>
        <div>
            <div class="coltext-description">
                <div class="description">
                    <div class="coltext">Lieu de rendez-vous: </div><span>{{ bikeride.meetingPoint }}</span>
                </div>
                <div class="description">
                    <div class="coltext">Itinéraire: </div><span>{{ bikeride.itinerary }}</span>
                </div>
                <div class="description">
                    <div class="coltext">Description: </div><span>{{ bikeride.description }}</span>           
                </div>
            </div>
        </div>

    </div>
    <div>
        <div class="btn">
            <div class="btn">
                <button backButton class="btn btn1 btnred"><span class="btnnoir">Ret</span><span class="btnred">O</span><span class="btnnoir">ur</span>
            </button>    
            </div>
            <div class="btn">
                <button class="btn btn1 btnvert"><span class="btnnoir">J'y g</span><span class="btnvert">O </span>
                </button>
            </div>
        </div>
    </div>
</div>
