<div class="container">
    
</div>
<div class="grid-container" *ngIf="isLoadingResults">
    <form *ngIf="isLoadingResults">
       <!--div reunissant style, titre, date, heure, km--> 
    <div class="columns">
        <div class="buttonstyle"></div>
       
        <div class="form-group column">
            <label for="titrebalade">Titre de la balade</label>
            <div formControlName="title" type="text" class="form-control" id="titrebalade">
            </div>   
        </div>
        <div class="columns">
            <div class="form-group column">
                <label for="date">Date</label>
                <div formControlName="date" id="date" class="input" type="date" data-display-mode="inline" value="09/25/2018">
                </div>
                </div>
            <div class="form-group column">
                <label for="time">Horaire</label>
                <div formControlName="time" id="time" class="input" type="time" data-display-mode="inline"> 
                </div>
                </div>
            <div class="form-group column">
                <label for="km">Km</label>
                <div formControlName="numberkm" type="number" class="form-control" id="km">
                   </div> 
            </div>   
        </div>
    </div>
            <div class="form-group">
                <label for="city">Ville</label>
                <div formControlName="cityId" type="text" class="form-control" id="city">
                </div>
            </div>
            <div class="form-group">
                <label for="meetingpoint">Lieu de rendez-vous</label>
            <div formControlName="meetingpoint" type="text" class="form-control" id="meetingpoint">
            </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea formControlName="description" id="description" class="form-control"></textarea>
        </div>
        <div class="columns">
            <div class="form-group column">
                <label for="nbparticipants">Nombre de participants</label>
                <div formControlName="numberMaxParticipants" type="text" class="form-control" id="nbparticipants"></div>
            </div>
            <div class="form-group column">
                <label for="level">Difficulté</label>
                <div formControlName="description" class="form-control" id="exampleFormControlSelect1"></div>
                </div>
            </div>
        </div>
        <br>
        <div class="btn">
            <div class="btn">
                <button class="btn btn1 btnred"><span class="btnnoir">Ret</span><span class="btnred">O</span><span class="btnnoir">ur</span>
            </button>    
            </div>
            <div class="btn">
                <button class="btn btn1 btnvert"><span class="btnvert">O</span><span class="btnnoir">k g</span><span class="btnvert">O </span><span class="btnnoir"> Wel</span><span class="btnvert">O</span><span class="btnnoir"> !</span>
                </button>
            </div>
        </div>
    </form>
</div>
