<footer class="page-footer">

    <div class="row footer-menu-one">

        <div class="row footer-menu">

            <div class="links">
                <div class="liens">
                    <div><a class="text-decoration-none text-dark" href="/les-sorties">Les sorties</a></div>
                    <div><a class="text-decoration-none text-dark" href="/proposer-une-balade">Proposer une balade</a></div>
                    <div *ngIf="authService.user"><a class="text-decoration-none text-dark" href="/mon-espace">Mon espace</a></div>
                    <div><a class="text-decoration-none text-dark" href="/contact/#contact-formulaire">Contact</a></div>
                </div>
            </div>


            <div class="newsletter">
                <div class="row">
                    <form class="input-group col-md-12">
                        <input type="text" class="form-control form-control-sm" placeholder="Newsletter"
                            aria-label="Votre email" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn1"><a href="#"><span class="btnnoir">g</span><span
                                        class="btnvert">O</span></a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="reseaux">
            <div class="picto">
                <img class="picto" src="assets/picto/facebook.svg" width="50px" />
                <img class="picto" src="assets/picto/instagram.svg" width="50px" />
                <img class="picto" src="assets/picto/linkedin.svg" width="50px" />
            </div>
        </div>

    </div>

    <div class="footer-copyright">
        <span>Hellowelo © All Rigths Reserved</span>
    </div>

</footer>