<footer class="page-footer">

    <a href="/contact">
        <h2>Le concept</h2>
    </a>

    <h3>Quick Links</h3>
    <div class="row footer-menu-one">

        <div class="row footer-menu">

            <div class="liens">
                <div><a class="text-decoration-none text-dark" href="#">Les sorties</a></div>
                <div><a class="text-decoration-none text-dark" href="#">Proposer une balade</a></div>
                <div><a class="text-decoration-none text-dark" href="#">Mon espace</a></div>
                <div><a class="text-decoration-none text-dark" href="#">Contact</a></div>
            </div>


            <div class="newsletter">
                <div class="row">Ne ratez aucunes informations!</div>
                <div class="row">
                    <form class="input-group col-md-12 mt-2">
                        <input type="text" class="form-control form-control-sm" placeholder="Your email"
                            aria-label="Your email" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn1"><a href="#"><span class="btnnoir">g</span><span
                                        class="btnvert">O</span></a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="reseaux">
            <h3>Follow us</h3>
            <div class="picto">
                <img class="picto" src="assets/picto/facebook.svg" width="50px" />
                <img class="picto" src="assets/picto/instagram.svg" width="50px" />
                <img class="picto" src="assets/picto/linkedin.svg" width="50px" />
            </div>
        </div>

    </div>

    <div class="footer-copyright text-center mt-5 p-2">
        <span>Hellowelo © All Rigths Reserved</span>
    </div>

</footer>