<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="register">

      <div class="row">
        <div class="form-group column">
          <label for="email">Email</label>
          <input formControlName="email" type="email" class="form-control" id="email" placeholder="john@gmail.com"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Une adresse mail est requise</div>
            <div *ngIf="f.email.errors.email">L'adresse mail doit être valide</div>
        </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group column">
          <label for="password">Mot de Passe</label>
          <input formControlName="password" type="password" class="form-control" id="password" placeholder="1234YXZ"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Choississez un mot de passe</div>
            <div *ngIf="f.password.errors.minlength">Votre mot de passe doit avoir un minimum de 8 caractères</div>
        </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group column">
          <label for="firstName">Prénom</label>
          <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="John"
          [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" >
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">Un prénom est requis</div>
            <div *ngIf="f.firstName.errors.minlength">Veuillez entrer un minimum de 2 caractères</div>
            <div *ngIf="f.firstName.errors.maxlength">Max 100 caractères</div>

        </div>
        </div>

        <div class="form-group column">
          <label for="lastName">Nom</label>
          <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Doe" 
          [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" >
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Un nom est requis</div>
            <div *ngIf="f.lastName.errors.minlength">Veuillez entrer un minimum de 2 caractèress</div>
            <div *ngIf="f.lastName.errors.maxlength">Max 100 caractères</div>
        </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group column">
          <label for="nickName">Pseudo</label>
          <input formControlName="nickName" type="text" class="form-control" id="nickName" placeholder="Johnny59"
          [ngClass]="{ 'is-invalid': submitted && f.nickName.errors }" >
          <div *ngIf="submitted && f.nickName.errors" class="invalid-feedback">
            <div *ngIf="f.nickName.errors.required">Choississez votre pseudo</div>
            <div *ngIf="f.nickName.errors.minlength">Veuillez entrer un minimum de 2 caractèress</div>
            <div *ngIf="f.nickName.errors.maxlength">Max 100 caractères</div>
        </div>
        </div>

        <div class="form-group column">
          <label>Date de naissance</label>
          <input type="date" formControlName="birthday" class="ddn" 
          [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }">
          <div *ngIf="submitted && f.birthday.errors" class="invalid-feedback">
              <div *ngIf="f.birthday.errors.required">Le date est requise</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group column">
          <label for="pays">Pays</label>
          <select formControlName="CountryId" class="form-control" (change)="onChangeCountry($event.target.value)" [ngClass]="{ 'is-invalid': submitted && f.CountryId.errors }">
            <option *ngFor="let country of countries" value={{country.id}}>{{country.name}}</option>
          </select>
          <div *ngIf="submitted && f.CountryId.errors" class="invalid-feedback">
            <div *ngIf="f.CountryId.errors.required">Choississez un pays</div>
        </div>
        </div>
        <div class="form-group column">
          <label for="region">Région</label>
          <select formControlName="StateId" class="form-control" (change)="onChangeState($event.target.value)" [ngClass]="{ 'is-invalid': submitted && f.StateId.errors }">
            <option *ngFor="let state of states" value={{state.id}}>{{state.name}}</option>
          </select>
          <div *ngIf="submitted && f.StateId.errors" class="invalid-feedback">
            <div *ngIf="f.StateId.errors.required">Choississez une région</div>
        </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group column">
          <label for="city">Ville</label>
          <select formControlName="CityId" type="text" class="form-control" id="city " [ngClass]="{ 'is-invalid': submitted && f.CityId.errors }">
            <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
          </select>
          <div *ngIf="submitted && f.CityId.errors" class="invalid-feedback">
            <div *ngIf="f.CityId.errors.required">Choississez une ville</div>
        </div>
        </div>
      </div>

    </div>

    <div class="btn">
      <div class="btn">
        <button backButton type="submit" class="btn btn1 btnred"><span class="btnnoir">Ret</span><span
            class="btnred">O</span><span class="btnnoir">ur</span>
        </button>
      </div>
      <div class="btn">
        <button type="submit"  class="btn btn1 btnvert"><span class="btnnoir">M'inscrire
            !</span>
        </button>
      </div>
    </div>

  </form>

</div>