<div>
    <nav class="nav mb-3">
        <a class="nav-button" [routerLinkActive]="['active']" [routerLink]="['/les-sorties']"><img class="picto" src = "assets/picto/bike.svg" />Les sorties</a>
        <a class="nav-button" [routerLinkActive]="['active']" [routerLink]="['/proposer-une-balade']" ><img class="picto" src = "assets/picto/plus.svg" />Proposer une balade</a>
        <a class="nav-button" [routerLinkActive]="['active']" [routerLink]="['/contact']" ><img class="picto" src = "assets/picto/contact.svg" />Contact</a>
        <a class="nav-button" [routerLinkActive]="['active']" [routerLink]="['/mon-espace']" ><img class="picto" src = "assets/picto/espace.svg" />Mon espace</a>
        <a class="nav-button" [routerLinkActive]="['active']" [routerLink]="['/connexion']" ><img class="picto" src = "assets/picto/wheel.svg" />Connexion</a>
    </nav>   
</div>


  