.navbar {
    cursor: pointer;
}

.navburger {
    display: none;
}

@media screen and (max-width: 994px) {
.navbar {
    box-shadow: none;
    padding: 0;
}

.navbar-light {
    display: none;
}

.navburger {
    display: block;
}

.burger {
    display: flex;
    justify-content: flex-end;
}

.burger > ul {
    background-color: #ffffff9f;
    border-radius: 5px;
    position: absolute;
    right: -9999px;
    top: -9999px;
    flex-wrap: nowrap;
    opacity: 0;
    transition: opacity 1s;
}
    
.burger:hover > ul {
    right: 20px;
    top: 30px;
    opacity: 1;
    width: max-content;
    z-index: 30;
}

}