.navbar {
    cursor: pointer;
}

.navTrigger {
    display :none;
}

@media screen and (max-width: 994px) {

    .navTrigger {
        display: block;
        cursor: pointer;
        width: 30px;
        height: 25px;
        margin: auto;
        position: absolute;
        right: 30px;
        top: 0;
        bottom: 0;
        background-color: none;
    }

    .navTrigger > ul {
        background-color: #00144e49;
        position: absolute;
        // left: -9999px;
        // top: -9999px;
        // white-space: nowrap;
        opacity: 0;
        // transition: opacity 1s;
    }
    
    .navTrigger:hover > ul {
        left: 0;
        top: initial;
        opacity: 1;
    }

}