<div>
    <div class="navbar">
        <nav class="nav mb-3">
            <a href="#" class="nav-button" [routerLinkActive]="['active']" [routerLink]="['/page/les-sorties']"><img class="picto" src = "assets/picto/bike.svg" />Les sorties</a>
            <a href="#" class="nav-button" [routerLinkActive]="['active']" [routerLink]="['/page/proposer-une-balade']" ><img class="picto" src = "assets/picto/plus.svg" />Proposer une balade</a>
            <a href="#" class="nav-button" [routerLinkActive]="['active']" [routerLink]="['/page/contact']" ><img class="picto" src = "assets/picto/contact.svg" />Contact</a>
            <a href="#" class="nav-button" [routerLinkActive]="['active']" [routerLink]="['/page/mon-espace']" ><img class="picto" src = "assets/picto/espace.svg" />Mon espace</a>
            <a href="#" class="nav-button" [routerLinkActive]="['active']" [routerLink]="['/page/connexion']" ><img class="picto" src = "assets/picto/wheel.svg" />Connexion</a>
        </nav>  
    </div>   
</div>


  