<div class="fond grid-container">
   <div class="columns is-mobile ">
        <div class="column is-full-mobile">
            <img class="logo" src="assets/img/logohellowelo.svg" alt="logo hellowelo">
        </div>  
        <div class="column is-three-quarters is-full-mobile position2"></div>
    </div>
    <div class="column is-full-mobile is-two-thirds-tablet is-half-desktop position">
         <app-form-search></app-form-search>
    </div>
    <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>


