.fond {
    margin: 0;
    padding: 0;
    background: url("/assets/backgroundimage.jpg") no-repeat;
    background-attachment: scroll;
    background-size: cover;
    
    top:0;

    /* version standardisée */
    min-height: 100vh;
  }
  .logo {
    width: 160px;
    margin: 0% 0 0% 40%;
    padding: 5% 0 0 0;
   }

   .position{
    margin: 0 0 0 20%;  
  }

  .position2{
    margin: 0 20px 0 20px;  
  }

@media screen and (max-width: 768px) {
  .is-two-thirds-tablet {
    margin: 0;
  }
}
  